body {
    /*background-image: url(../images/back.png);*/
    background-color: #F0F0F0;
    padding-bottom: 20px;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.warper {
    margin: auto;
    width: 90%;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
    width: auto;
    background-color: #F0F0F0;
}


nav {
    padding-bottom: 10px;
    background: rgba(255,255,255,.5);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    margin: auto;
}
.grdp {
    background-color: #fb6262;
    color: #fff;
    border-radius: 25px;
    padding:10px;
}

/*CONTAINER*/



#container_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/*LINKS*/


ul li {
    display: inline;
    text-align: center;
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

    .menu a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        padding: .75rem 0;
        margin: 0;
        color: #3C4B73;
    }

    .menu a, a:visited {
        text-decoration: none;
        position: relative;
        color: #3C4B73;
    }

        .menu a:after, a:visited:after {
            content: '';
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            background: rgba(40,57,101,.9);
            transition: 0.2s;
        }

        .menu a:hover:after, a:visited:hover:after {
            width: 100%;
        }



        .menu a:hover:after, a:visited:hover:after {
            width: 100%;
        }





footer {
    
    background-color: rgba(40,57,101,.9);
    color: #fff;
 
    width: 100%;
    bottom: 0;
}

/*LOGIN PAGE*/


*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: #1161ee;
    text-decoration: none
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 700px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-wrap2 {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 1000px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40,57,101,.9);
}

    .login-html .sign-in-htm,
    .login-html .sign-up-htm {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all .4s linear;
    }

    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
        display: none;
    }

    .login-html .tab,
    .login-form .group .label,
    .login-form .group .button {
        text-transform: uppercase;
    }

    .login-html .tab {
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .login-html .sign-in:checked + .tab,
    .login-html .sign-up:checked + .tab {
        color: #fff;
        border-color: #1161ee;
    }

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

    .login-form .group {
        margin-bottom: 15px;
    }

        .login-form .group .label,
        .login-form .group .input,
        .login-form .group .button {
            width: 100%;
            color: #fff;
            display: block;
        }

        .login-form .group .input,
        .login-form .group .button {
            border: none;
            padding: 15px 20px;
            border-radius: 25px;
            background: rgba(255,255,255,.1);
        }

        .login-form .group input[data-type="password"] {
            text-security: circle;
            -webkit-text-security: circle;
        }

        .login-form .group .label {
            color: #aaa;
            font-size: 12px;
        }

        .login-form .group .button {
            background: #1161ee;
        }

        .login-form .group label .icon {
            width: 15px;
            height: 15px;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            background: rgba(255,255,255,.1);
        }

            .login-form .group label .icon:before,
            .login-form .group label .icon:after {
                content: '';
                width: 10px;
                height: 2px;
                background: #fff;
                position: absolute;
                transition: all .2s ease-in-out 0s;
            }

            .login-form .group label .icon:before {
                left: 3px;
                width: 5px;
                bottom: 6px;
                transform: scale(0) rotate(0);
            }

            .login-form .group label .icon:after {
                top: 6px;
                right: 0;
                transform: scale(0) rotate(0);
            }

        .login-form .group .check:checked + label {
            color: #fff;
        }

            .login-form .group .check:checked + label .icon {
                background: #1161ee;
            }

                .login-form .group .check:checked + label .icon:before {
                    transform: scale(1) rotate(45deg);
                }

                .login-form .group .check:checked + label .icon:after {
                    transform: scale(1) rotate(-45deg);
                }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}

.foot-lnk {
    text-align: center;
}


/*LISTAR PROJECTOS*/

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card_projectos {
    display: block;
    width: 100%;
    margin: 50px;
    width: 300px;
    height: 200px;
    color: black;
    background-color: white;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.card_content {
    width: 80%;
    margin: auto;
}

.card_title {
    background: rgba(40,57,101,.9);
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    word-wrap: break-word;
    text-transform: uppercase;
    width: 200px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
