
@{
    ViewData["Title"] = "IndexAdmin";
}

<div class="admin_area">
    <a asp-area="" asp-controller="UserManagement" asp-action="Index"><img src="~/images/user.png" alt="Gerir Utilizadores" /></a>

    <img src="~/images/ga.png" alt="Google Analytics" />
</div>

