
@{
    ViewData["Title"] = "IndexAdmin";
}

<div class="admin_area">
    <a asp-area="" asp-controller="UserManagement" asp-action="Index"><img src="~/images/user.png" alt="Gerir Utilizadores" /></a>

    <a href="https://analytics.google.com/analytics/web/#/report-home/a119903948w177426627p176114600"><img src="~/images/ga.png" alt="Google Analytics" /></a>
</div>

