@using System.Globalization;
@model IEnumerable<DBMProject.Models.ProjectsManagement.Projeto>

@{
    ViewData["Title"] = "Mapa";
}




<div id="map" style="width:100%;height:400px;"></div>

<script type="text/javascript">
    function initMap() {
        console.log("google maps");
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 38.5345, lng: -8.86582 },
            zoom: 8
        });

        //var myLatLng = { lat: -25.363, lng: 131.044 };
        //var marker = new google.maps.Marker({
        //    position: myLatLng,
        //    map: map,
        //    title: 'Hello World!'
        //});



       @{

           //double lat1 = 0.0;
           //double longit = 0.0;
           //for (var i = 0; i < (ViewData["latitudes"] as IList<double>).Count ; i++) {

           //    lat1 = (ViewData["latitudes"] as IList<double>)[i];

           //    for (var j = 0; j < (ViewData["longitudes"] as IList<double>).Count  ; j++) {

           //        longit = (ViewData["longitudes"] as IList<double>)[j];
           //    }




           double lat1 = 0.0;
           double longit = 0.0;
           for (var i = 0; i < (ViewData["latitudes"] as IList<double>).Count; i++)
           {

               lat1 = (ViewData["latitudes"] as IList<double>)[i];
               longit = (ViewData["longitudes"] as IList<double>)[i];



                   <text> var myLatLng = new google.maps.LatLng( @lat1.ToString(CultureInfo.CreateSpecificCulture("en-GB")) , @longit.ToString(CultureInfo.CreateSpecificCulture("en-GB")) );

               var marker = new google.maps.Marker({
                     position: myLatLng,
                      map: map,
                title: 'Hello World!'

            });
               marker.setMap(map);
         </text>
           }

       }

        @*@{
            for (int i = 0; i < (ViewData["latitudes"] as IList<double>).Count; i++)
            {

            }
        }*@



    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABDW2KCUC3slQCnSRjSf5PVKB0HSHNmqc&callback=initMap" async defer></script>





@*<ul>
        @foreach (var lat in ViewData["latitudes"] as IList<double>)
        {
            <li>
                @lat
            </li>
        }
    </ul>
    <ul>
        @foreach (var longi in ViewData["longitudes"] as IList<double>)
        {
            <li>
                @longi
            </li>
        }
    </ul>*@











@*<div id="map-holder">

        http://dev.virtualearth.net/REST/v1/Locations?clocality=Setubal

        <script type="text/javascript">

            console.log("hello");


            var width = 900;
            var height = 600;



            var projection = d3.geo.mercator();

            var svg = d3.select("map-holder").append("svg")
                .attr("width", width)
                .attr("height", height);
            var path = d3.geo.path()
                .projection(projection);
            var g = svg.append("g");

            d3.json("world-110m2.json", function (error, topology) {
                g.selectAll("path")
                    .data(topojson.feature(topology, topology.objects.countries)
                        .geometries)
                    .enter()
                    .append("path")
                    .attr("d", path)
            });



        </script>


    </div>*@



