@{
    ViewData["Title"] = "Home Page";
}

<div class="home1">
    <div id="home_left"></div>
    <div id="home_right">
        <div id="botoes_home"><a asp-area="" asp-controller="Projetos" asp-action="Index"><img src="~/images/visualizarprojetos.png" /></a><a asp-area="" asp-controller="Projetos" asp-action="Create"><img src="~/images/upload projectos.png" /></a></div>


    </div>
</div>

